@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-mode-background-color: hsl(235, 24%, 19%);
	--dark-mode-card-background: hsl(237, 14%, 26%);
	--dark-mode-card-primary-text: hsl(234, 39%, 85%);
	--dark-mode-card-dark-text: hsl(234, 11%, 52%);
	--blue-text: hsl(220, 98%, 61%);
	--dark-mode-circle-color: hsl(233, 14%, 35%);
	--dark-mode-shadow: hsla(235, 21%, 11%, 0.5);
	--check-background: linear-gradient(
		135deg,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);

	/* Light mode */
	--light-mode-background-color: hsl(0, 0%, 98%);
	--light-mode-card-background: white;
	--light-mode-circle-color: hsl(236, 33%, 92%);
	--light-mode-shadow: hsl(233, 11%, 84%);
	--light-mode-dark-text: hsl(236, 9%, 61%);
	--light-mode-primary-text: hsl(235, 19%, 35%);
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	width: 100vw;
	height: 100vh;
	padding: 3em 1.5em;
	background-image: url('./images/bg-mobile-dark.jpg');
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-color: var(--dark-mode-background-color);
	color: white;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	width: 100%;
	max-width: 550px;
	text-align: center;
}

.heading-first {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}

.heading-first h1 {
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.6rem;
}

#theme-switch img {
	width: 80%;
}

.card {
	width: 100%;
	max-width: 550px;
	background-color: var(--dark-mode-card-background);
	margin-bottom: 1rem;
	font-weight: 400;
	font-size: 0.6em;
	border-radius: 5px;
	color: var(--dark-mode-card-primary-text);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 1px 1px 3px var(--dark-mode-shadow);
}

.card.column {
	box-shadow: 0px 15px 20px 5px var(--dark-mode-shadow);
}

[data-rbd-droppable-id='tasks'] {
	width: 100%;
}

.column {
	flex-direction: column;
}

.check-circle {
	width: 1.8em;
	height: 1.8em;
	border-radius: 50%;
	border: 1px solid var(--dark-mode-circle-color);
	margin-right: 1.3em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.check-circle.completed {
	background: var(--check-background);
	background-size: 100%;
}

.check-circle-fill {
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border-radius: 50%;
	background-color: var(--dark-mode-card-background);
}

.todo-input {
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
	color: var(--dark-mode-card-primary-text);
	background: none;
	border: none;
}

.todo-input:focus {
	outline: none;
}

.todo-input::placeholder {
	color: var(--dark-mode-card-dark-text);
}

.card-item {
	width: 100%;
	padding: 0.9rem 1.2rem;
	display: flex;
	border-radius: 5px;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--dark-mode-card-background);
}

.card-item.list {
	position: relative;
	cursor: pointer;
}

.card-item.list.visible {
	display: flex;
}

.card-item.list.invisible {
	display: none;
}

.card-item.list:hover .check-circle {
	border: none;
	background-image: var(--check-background);
}

.card-item.list::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--dark-mode-circle-color);
}

.card-item.secondary {
	color: var(--dark-mode-card-dark-text);
	padding: 1.2rem;
	display: flex;
	justify-content: space-between;
}

.card-item.secondary h4 {
	z-index: 2;
}

.task-completed {
	color: var(--dark-mode-card-dark-text);
	text-decoration: line-through;
}

.cross {
	margin-left: auto;
}

.clear-completed,
#theme-switch {
	cursor: pointer;
}

.clear-completed:hover {
	color: var(--dark-mode-card-primary-text);
}

.footer-container {
	z-index: 1;
	width: 100%;
	max-width: 550px;
}

#footer .card-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer h3 {
	margin: 0 0.7em;
	cursor: pointer;
	color: var(--dark-mode-card-dark-text);
}

#footer h3:hover {
	color: var(--dark-mode-card-primary-text);
}

#footer h3.selected {
	color: var(--blue-text);
}

.footer-instructions {
	text-align: center;
	font-size: 0.7em;
	color: var(--dark-mode-card-dark-text);
	margin-top: 4em;
}

/* Light Mode */
body.light {
	background-image: url('./images/bg-mobile-light.jpg');
	background-color: var(--light-mode-background-color);
	color: white;
}

body.light .card {
	background-color: var(--light-mode-card-background);
	box-shadow: 1px 1px 3px var(--light-mode-shadow);
}

body.light .card.column {
	box-shadow: 0px 30px 30px 2px hsla(0, 20%, 18%, 0.08);
}

body.light .check-circle {
	border: 1px solid var(--light-mode-circle-color);
}

body.light .card-item {
	background-color: var(--light-mode-card-background);
}

body.light .card-item.list::after {
	background-color: var(--light-mode-circle-color);
}

body.light .check-circle-fill {
	background-color: var(--light-mode-card-background);
}

body.light .card,
body.light .todo-input,
body.light .clear-completed:hover,
body.light #footer h3:hover {
	color: var(--light-mode-primary-text);
}

body.light .todo-input::placeholder,
body.light .card-item.secondary,
body.light .task-completed,
body.light #footer h3 {
	color: var(--light-mode-dark-text);
}

body.light #footer h3.selected {
	color: var(--blue-text);
}

body.light .footer-instructions {
	color: var(--light-mode-dark-text);
}

@media (min-width: 600px) {
	body {
		background-image: url('./images/bg-desktop-dark.jpg');
	}

	body.light {
		background-image: url('./images/bg-desktop-light.jpg');
	}

	.cross {
		visibility: hidden;
	}

	.card-item.list:hover .cross {
		visibility: visible;
	}

	#footer {
		width: auto;
		margin-top: -60px;
		box-shadow: none;
	}
}
